@use '../Variables.scss' as *;

.no-target-message {
    font-size: 30px;
    color: $WhitePalette;
    margin: auto;
}

.chat-page-container {
    min-height: 90vh;
    background-color: $LightDarkPalette;
    display: flex;
    flex-direction: row;
    .chat-sidebar {
        color: $WhitePalette;
        width: 300px;
        background-color: $LightDarkPalette;
        border-right: 1px solid $WhitePalette;

        .ul-wrapper {
            list-style-type: none;
            margin-right: 30px;

            &-elem {
                .collapse-button {
                    @include flex-row-alignCenter;
                    justify-content: space-between;

                    svg {
                        cursor: pointer;
                    }
                    &-name {
                        @include flex-row-alignCenter;
                        gap: 5px;
                    }
                    .plus-icon {
                        width: 20px;
                        height: 20px;
                    }
                }

                .ul-collapse {
                    list-style-type: none;
                    li:not(li:first-child) {
                        margin-top: 10px;
                    }

                    li {
                        a {
                            cursor: pointer;
                            color: $WhitePalette;
                            text-decoration: none;
                            &:hover {
                                color: #ffffff;
                            }
                        }
                    }
                }
            }
        }
    }

    .message-container {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        list-style-type: none;
        box-sizing: border-box;
        max-height: 90vh;

        .message-wrapper {
            height: 90%;
            .message-header {
                color: $WhitePalette;
                width: 100%;
                background-color: $LightDarkPalette;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid $WhitePalette;
                box-sizing: border-box;
                padding-right: 20px;

                .chan-name {
                    margin-left: 20px;
                }

                a {
                    margin-right: 10px;
                    color: $WhitePalette;
                }
            }

            .header-user-info {
                color: $WhitePalette;
                width: 100%;
                background-color: $LightDarkPalette;
                height: 50px;
                border-bottom: 1px solid $WhitePalette;
                @include flex-row-alignCenter;
                .profile-avatar {
                    @include avatar-player(10em);
                }
    
                .player-status {
                    @include player-status;
                }
            }

            .ul-container {
                overflow: scroll;
                padding-right: 20px;
                height: 90%;
                ul {
                    .message-item {
                        @include flex-row-alignCenter;
                        gap: 15px;
                        color: $WhitePalette;

                        &:not(&:first-child) {
                            margin-top: 15px;
                        }
            
                        img {
                            @include avatar-player(50px);
                        }

                        &-info {
                            p {
                                margin: 0;
                            }
                            .message-text {
                                padding: 10px 15px;
                                box-sizing: border-box;
                                background-color: $LightBluePalette;
                                margin: 0;
                            }
    
                            .message-sender {
                                font-size: 10px;
                                color: #a5abb0;
                                margin-top: 5px;
                                text-decoration: none;
                            }
                        }
            
                        &-left {
                            float: left;
                            width: 100%;
                            .message-text {
                                border-top-right-radius: 30px;
                                border-bottom-right-radius: 30px;
                                border-top-left-radius: 30px;
                            }
                        }
            
                        &-right {
                            float: right;
                            .message-text {
                                background-color: rgb(173, 113, 22);
                                border-top-right-radius: 30px;
                                border-bottom-left-radius: 30px;
                                border-top-left-radius: 30px;
                            }
                        }
                    }
                }
            }
        }

        .message-input-container {
            border-top: 1px solid $WhitePalette;
            @include flex-row-alignCenter;
            justify-content: space-between;
            width: 90%;
            margin: 0 auto;
            svg {
                color: $WhitePalette;
                cursor: pointer;
                background-color: $OrangeProfile;
                border-radius: 50%;
                padding: 5px;
                background: linear-gradient(112deg, rgba(255,94,0,1) 0%, rgba(255,145,0,1) 50%, rgba(255,154,0,1) 100%);             }
            input {
                all: unset;
                width: 95%;
                color: $WhitePalette;
                box-sizing: border-box;
                padding: 18px 20px;
            }
        }
    }
}