@use '../Variables.scss' as *;

.no-target-message {
    font-size: 30px;
    margin: auto;
    text-align: center;
}

.chat-page-container {
    @include page-wrapper();
    background-color: $LightDarkPalette;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    .chat-sidebar {
        @include width-height(300px, 100%);
        min-width: 280px;
        max-width: 280px;
        background-color: $LightDarkPalette;
        border-right: 1px solid $WhitePalette;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        .explore-button {
           background-color: $DarkPalette;
           padding: 15px;
           position: absolute;
           bottom: 0;
           left: 0;
           right: 0;
           text-align: center;
        }

        .ul-wrapper {
            position: relative;
            list-style-type: none;
            margin-right: 30px;
            overflow-y: scroll;
            
            &-elem {
                .collapse-button {
                    @include flex-row-alignCenter;
                    justify-content: space-between;
                    height: 35px;
                    svg {
                        cursor: pointer;
                    }
                    &-name {
                        @include flex-row-alignCenter;
                        gap: 5px;
                    }
                    .plus-icon {
                        @include width-height(20px, 20px);
                    }
                }

                .ul-collapse {
                    list-style-type: none;
                    padding-left: 15px;
                    li:not(li:first-child) {
                        margin-top: 2px;
                    }

                    .list-item-container {
                        text-decoration: none;
                        li {
                            padding: 8px;
                            border-radius: 5px;
                            &:hover {
                                background-color: $DarkPalette;
                            }
                        }
    
                        li[is-target="true"] {
                            background-color: $DarkPalette;
                        }

                        .public-chan-item {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            .icon-container {
                                display: flex;
                                align-items: center;
                                span {
                                    font-size: 15px;
                                }
                                svg {
                                    &:first-child {
                                        @include width-height(17px, 17px);
                                    }
                                    &:last-child {
                                        cursor: pointer;
                                        @include width-height(20px, 20px);
                                        margin-left: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .message-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        .message-container-main {
            @include width-height(100%, 100%);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            list-style-type: none;
            .message-header {
                @include width-height(100%, 50px);
                background-color: $LightDarkPalette;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid $WhitePalette;

                &-right-side {
                    margin-right: 20px;
                    svg {
                        cursor: pointer;
                        &:first-child {
                            margin-right: 28px;
                        }
                    }
                }

                .burger-icon-responsive {
                    display: none;
                    cursor: pointer;
                }

                .chan-name {
                    margin-left: 20px;
                }

                a {
                    margin-right: 10px;
                }
            }

            .header-user-info {
                @include width-height(100%, 50px);
                background-color: $LightDarkPalette;
                border-bottom: 1px solid $WhitePalette;
                @include flex-row-alignCenter;

                .burger-icon-responsive {
                    display: none;
                    cursor: pointer
                }
                .player-container {
                    @include flex-row-alignCenter;
                    p {
                        cursor: pointer;
                    }
                    // .profile-avatar {
                    //     @include avatar-player(10em);
                    // }
        
                    .player-status {
                        @include player-status;
                    }
                }
            }

            ul {
                overflow-y: scroll;
                margin: 0;
                padding: 20px;
                height: 90%;
                display: flex;
                flex-direction: column;
                .message-item {
                    @include flex-row-alignCenter;
                    gap: 15px;

                    &:not(&:first-child) {
                        margin-top: 15px;
                    }
        
                    img {
                        @include avatar-player(50px);
                    }

                    &-info {
                        p {
                            margin: 0;
                        }
                        .message-text {
                            padding: 10px 15px;
                            background-color: $LightBluePalette;
                            margin: 0;
                        }

                        .message-sender {
                            font-size: 10px;
                            color: #a5abb0;
                            margin-top: 5px;
                            text-decoration: none;
                            position: relative;
                            .sender-txt {
                                cursor: pointer;
                                margin-right: 5px;
                            }
                            span {
                                &:last-child {
                                    font-size: 9px;
                                    letter-spacing: 0.5px;
                                }   
                            }
                        }
                    }
        
                    &-left {
                        float: left;
                        width: 100%;
                        .message-text {
                            border-top-right-radius: 30px;
                            border-bottom-right-radius: 30px;
                            border-top-left-radius: 30px;
                        }
                    }
        
                    &-right {
                        flex-direction: row-reverse;
                        .message-text {
                            background-color: rgb(173, 113, 22);
                            border-top-right-radius: 30px;
                            border-bottom-left-radius: 30px;
                            border-top-left-radius: 30px;
                        }

                        .message-item-info {
                            .message-sender {
                                span {
                                    float: right;
                                }
                            }
                        }
                    }
                }
            }
        }
        
        .message-input-container {
            @include flex-row-alignCenter;
            justify-content: space-between;
            width: 100%;
            margin: 0 auto;
            background-color: $LightDarkPalette;
            form {
                border-top: 1px solid $WhitePalette;
                width: 90%;
                @include flex-row-alignCenter();
                margin: auto;
                input {
                    all: unset;
                    width: 95%;
                    padding: 18px 20px;
                }

                button {
                    all: unset;
                    svg {
                        cursor: pointer;
                        background-color: $OrangeProfile;
                        border-radius: 50%;
                        @include width-height(30px, 30px);
                        padding: 5px;
                        background: linear-gradient(112deg, rgba(255,94,0,1) 0%, rgba(255,145,0,1) 50%, rgba(255,154,0,1) 100%);
                    }
                }  
            }
        }

        .users-sidebar {
            @include width-height(300px, 100%);
            background-color: $DarkPalette;
            overflow-y: auto;
            &-wrapper {
                margin: 10px;
                h3 {
                    margin: 0;
                    color: #a5abb0;
                    font-size: 15px;
                }
                ul {
                    list-style-type: none;
                    padding: 0;
                    li {
                        &:not(&:first-child) {
                            margin-top: 10px;
                        }
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        .avatar-container {
                            position: relative;
                            .user-avatar {
                                @include avatar-player(40px);
                            }
                            .user-status {
                                @include width-height(20px, 20px);
                                border-radius: 50%;
                                background-color: $DarkPalette;
                                position: absolute;
                                right: -3px;
                                top: 25px;
                                padding: 2px 0 0 2px;
                                div {
                                    @include width-height(15px, 15px);
                                    border-radius: 50%;
                                }
                                .online {
                                    background-color: $OnlineColor;
                                }
                                .offline {
                                    background-color: $OfflineColor;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .channels-list-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        margin: auto;
        padding: 16px 0;
        overflow-y: scroll;
        height: 100%;

        .sidebar-button {
            display: none;
        }
        .channels-card-wrapper {
            background-color: $DarkPalette;
            @include width-height(300px, 320px);
            position: relative;

            .channel-banner {
                height: 110px;
                background: url('../../Images-Icons//Backgrounds/background-42.jpg') no-repeat center;
                background-size: cover;
            }

            .card-content {
                padding: 10px;

                .channel-name {
                    margin: 0;
                    font-size: 19px;
                    font-weight: bold;
                    span {
                        font-size: 10px;
                    }
                }

                .channel-description {
                    font-size: 12px;
                    font-family: OpenSans;
                }
    
                .item-bottom {
                    width: 90%;
                    position: absolute;
                    @include flex-row-alignCenter();
                    justify-content: space-between;
                    bottom: 0;
                    p {
                        font-size: 14px;
                    }
                    &-right {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        svg {
                            cursor: pointer;
                            background-color: $OrangeProfile;
                            border-radius: 50%;
                            @include width-height(25px, 25px);
                            padding: 3px;
                            background: linear-gradient(112deg, rgba(255,94,0,1) 0%, rgba(255,145,0,1) 50%, rgba(255,154,0,1) 100%);
                        }
                        input {
                            all: unset;
                            border: 1px solid white;
                            border-radius: 5px;
                            padding: 3px;
                            width: 100px;
                            font-size: 13px;
                        }
                    }
                }
            } 
        }
    }
}

@media screen and (max-height: 600px) {
    .chat-page-container {
        .message-container {
            .message-container-main { 
                .message-wrapper {
                    height: 80%;
                }
            }
        }
    }
}

@media screen and (max-width: 1230px) {
    .chat-page-container {
        .channels-list-wrapper {
            grid-template-columns: repeat(2, 1fr);
            .channels-card-wrapper {
                @include width-height(270px, 290px);
            }
        }
    }
}

@media screen and (max-width: $BreakPoint_800) {
    .no-target-message {
        display: none;
    }
    .chat-page-container {
        .chat-sidebar {
            display: none;
            position: absolute;
            z-index: 99;
            height: 100%;
            min-width: 250px;
            max-width: 250px;
            font-size: 15px;
            .ul-wrapper {            
                &-elem {
                    .collapse-button {
                        svg {
                            @include width-height(20px, 20px);
                        }
                        &-name {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
        .chat-sidebar-responsive {
            display: block;
        }

        .message-container {
            width: 100%;
            .message-container-main { 
                width: 100%;
                .message-wrapper {
                    .message-header {
                        padding: 0 $HeaderResponsive800Marge;
                        &-right-side {
                            margin-right: 0px;
                            svg {
                                cursor: pointer;
                                &:first-child {
                                    margin-right: 0px;
                                }
                            }
                        }
                        .burger-icon-responsive {
                            display: block;
                        }
                    }
    
                    .header-user-info {
                        padding: 0 $HeaderResponsive800Marge;
                        .burger-icon-responsive {
                            display: block;
                            position: absolute;
                        }
                        .player-container {
                            margin: 0 auto
                        }
                    }
    
                    .ul-container {
                        ul {
                            .message-item {
                                img {
                                    @include avatar-player(35px);
                                }
                                &-info {
                                    .message-text {
                                        font-size: 14px;
                                        padding: 8px 13px;
                                    }
                                }
                            }
                        }
                    }
                }
            } 
        }

        .channels-list-wrapper {
            .sidebar-button {
                display: block;
                position: absolute;
                left: -24px;
                top: 25px;
                z-index: 99;
                border-radius: 50%;
                @include width-height(45px, 45px);
                display: flex;
                align-items: center;
                justify-content: flex-end;
                background-color: $DarkPalette;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: $BreakPoint_500) {
    .chat-page-container {
        .message-container {
            .message-container-main { 
                .message-wrapper {
                    .message-header {
                        padding: 0 $HeaderResponsive500Marge;
                    }

                    .header-user-info {
                        padding: 0 $HeaderResponsive500Marge;
                    }            
                }

                .ul-container {
                    ul {
                    padding-left: $HeaderResponsive500Marge;
                    }
                }
            }
        }

        .channels-list-wrapper {
            .channels-card-wrapper {
                @include width-height(220px, 240px);
                .card-content {
                    .channel-name {
                        font-size: 13px;
                    }

                    .channel-description {
                        font-size: 10px;
                    }

                    .item-bottom {
                        p {
                            font-size: 10px;
                        }

                        &-right {
                            svg {
                                @include width-height(20px, 20px);
                            }
                            input {
                                padding: 3px;
                                width: 80px;
                                font-size: 10px;
                            }
                        }
                    }
                }                
            }
        }
    }
}

@media screen and (max-width: 470px) {
    .chat-page-container {
        .channels-list-wrapper {
            grid-template-columns: repeat(1, 1fr);
            .channels-card-wrapper {
                @include width-height(250px, 270px);
            }
        }
    }
}