@use "./Variables.scss" as *;

.modal-wrapper-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: $DarkPalette;
    .add-friend-modal-wrapper {
        @include modal-container(400px, 500px, $LightDarkPalette); // Params => Height, Width, Background-color
        .search-player-container {
            .modal-player-list {
                height: 300px;
            }
        }
    }
}



