@use "./Variables.scss" as *;

.modal-wrapper-container {
    position: absolute;
    @include width-height(100vw, 100vh);
    background-color: $DarkPalette;
    .add-friend-modal-wrapper {
        @include modal-container(400px, 500px, $LightDarkPalette); // Params => Height, Width, Background-color
        .search-player-container {
            .modal-player-list {
                height: 300px;
            }
        }
    }
}

@media screen and (max-width: $BreakPoint_800) {
    .modal-wrapper-container {
        .add-friend-modal-wrapper {
            @include modal-container(400px, 90%, $LightDarkPalette);
        }
    }
}


