@use "./Variables.scss" as *;

.modal-wrapper-container {
    position: absolute;
    @include width-height(100vw, 100vh);
    background-color: $DarkPalette;
    .add-friend-modal-wrapper {
        @include modal-container(500px, 500px, $LightDarkPalette); // Params => Height, Width, Background-color

        .modal-header {
            width: 100%;
            display: flex;
            flex-direction: row;
            border-bottom: 0.5px solid $WhitePalette;
            margin-bottom: 20px;

            &-selected {
                color: $OrangeProfile;
            }
            div {
                @include width-height(50%, 100%);
                p {
                    text-align: center;
                    cursor: pointer;
                }

                &:first-child {
                    border-right: 0.5px solid $WhitePalette;
                }
            }
           
        }

        .modal-friend-list {
            height: 400px;
        }

        .search-player-container {
            .modal-player-list {
                height: 350px;
            }
        }
    }
}

.modal-player-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    overflow-y: scroll;
    &-item {
        width: 90%;
        @include flex-row-alignCenter();
        justify-content: space-between;
        margin: 0 auto;
        .item-player-info {
            display: flex;
            align-items: center;
            .modal-picture {
                @include avatar-player(50px);
                margin-right: 10px;
            }
        }
        button {
            cursor: pointer;
            border: none;
            min-width: 90px;
            height: 35px;
            font-size: 15px;
            border-radius: 4px;
            background-color: $LightDarkPalette;
        }

        .friendship-action-wrapper {
            @include flex-row-alignCenter();
            gap: 10px;
            svg {
                cursor: pointer;
                border-radius: 50%;
                @include width-height(25px, 25px);
                padding: 2px;
                &:first-child {
                    color: green;
                    border: 1px solid green;
                }
                &:last-child {
                    color: red;
                    border: 1px solid red;
                }
            }
        }

        .icons-player-item {
            @include flex-row-alignCenter;
            gap: 5px;
            cursor: pointer;
        }

        input {
            @include width-height(17px, 17px);
        }
    }
}

@media screen and (max-width: $BreakPoint_800) {
    .modal-wrapper-container {
        .add-friend-modal-wrapper {
            @include modal-container(500px, 90%, $LightDarkPalette);
        }
    }
}