.header {
    background-color: #415A77;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    box-sizing: border-box;
    color: #E0E1DD;

    .header-picture {
        background-color: aqua;
        height: 3em;
        width: 3em;
        border-radius: 50%;
    }
}