@use "./Header.scss";
@use "./Home.scss";
@use "./Sign.scss";
@use "./Profile.scss";
@use "./Leaderboard.scss";
@use "./Add-Friend-Modal.scss";
@use "./Chat.scss";
@use "./Chat-Modal.scss";
@use "./Search-Player.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root{
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  width: 100%;
}

.blur-background {
  filter: blur(5px);
}