@use "./Header.scss";
@use "./Home.scss";
@use "./Sign.scss";
@use "./Profile.scss";
@use "./Profile-Settings.scss";
@use "./Leaderboard.scss";
@use "./Friends-Modal.scss";
@use "./Chat/Chat.scss";
@use "./Chat/Chat-Modal.scss";
@use "./Search-Player.scss";
@use "./Chat/Channel-Settings.scss";
@use "./Loading-Spin.scss";
@use "./Notif-Game-Invite.scss";
@use "./Notif-Alert.scss";
@use "./Lobby.scss";
@use "./Chat-Party.scss";
@use "./Match-Found.scss";
@use "./Alert-Validation.scss";
@use "./Resume-Game.scss";
@use "./Variables.scss" as *;

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

html, body, #root{
	margin: 0;
	padding: 0;
	border: 0;
	max-height: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

body {
	font-family: Montserrat;
	text-decoration: none;
	color: $WhitePalette;
	flex-grow: 1;
}

#root {
	flex-grow: 1;
}

.app-container {
	inset: 0;
	display: flex;
	position: absolute;
}

.page-container {
	top: $headerHeight;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	position: absolute;
	flex-flow: column;
	min-height: 0;
	background-size: cover;
}

input:-webkit-autofill {
	transition: background-color 5000s ease-in-out 0s !important; 
	-webkit-text-fill-color: rgb(255, 255, 255) !important;
}

a, button{
	color: $WhitePalette;
	text-decoration: none;
}

button {
	cursor: pointer;
}

.blur-background {
	filter: blur(5px);
}

#game_anchor {
	@include page-wrapper();
	background-color: $BlueDarkPalette;
}

.dropdown-container {
	background-color: white;
	position: absolute;
	left: 20px;
	top: 30px;
	width: 200px;
	border-radius: 5px;
	background-color: $DarkPalette;
	z-index: 100;

	.dropdown-wrapper {
		margin: 10px;
		display: flex;
		flex-direction: column;
		gap: 2px;

		.red-item {
			color: red;
		}
		a {
			color: #a5abb0;
		}

		.dropdown-button {
			position: relative;
			display: flex;
			&:hover {
				.right-menu-dropdown {
					display: flex;
				}
			}
			span {
				width: 100%;
			}
			.right-menu-dropdown {
				position: absolute;
				right: -150px;
				bottom: -20px;
				background-color: $DarkPalette;
				padding: 5px;
				width: 150px;
				display: none;
				flex-direction: column;
				gap: 3px;
				&:hover {
					display: flex;
				}
				&-separator {
					text-align: center;
					font-size: 10px;
				}
				p {
					text-align: center;
				}
				.input-dropdown-wrapper {
					width: 100%;
					display: flex;
					flex-direction: column;
					padding: 5px;
					margin: 0 auto;

					.timeout-error {
						font-size: 10px;
						color: red;
					}

					.input-container {
						@include flex-row-alignCenter();
						justify-content: space-between;
						width: 100%;

						input {
							all: unset;
							width: 80%;
						}
						
						button {
							all: unset;
							display: flex;
							svg {
								@include width-height(15px, 15px);
							}
						}
					}
					&:hover {
						background-color: $LightDarkPalette;
					}
				}
			}
		}

		p, .dropdown-button {
			margin: 0;
			font-size: 13px;
			letter-spacing: 1.5px;
			padding: 5px;
			border-radius: 5px;
			cursor: pointer;
			color: #a5abb0;

			&:hover {
			background-color: $LightDarkPalette;
			}
		}
	}
}

.err-no-datas {
	color: $WhitePalette;
	text-align: center;
	font-size: 25px;
}

.txt-form-error {
	color: red;
	margin: 0;
	font-size: 11px;
	letter-spacing: 1px;
}

.invited-spin {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	display: inline-block;
	border-top: 3px solid #FFF;
	border-right: 3px solid transparent;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
} 

@keyframes bblFadInOut {
	0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
	40% { box-shadow: 0 2.5em 0 0 }
}
	  
.is-connected-loader-wrapper {
	height: 100vh;
	margin-top: -$headerHeight;
	background-color: $DarkPalette;
	display: flex;
	align-items: center;
	justify-content: center;
	.is-connected-loader, .is-connected-loader:before, .is-connected-loader:after {
		border-radius: 50%;
		width: 2.5em;
		height: 2.5em;
		animation-fill-mode: both;
		animation: bblFadInOut 1.8s infinite ease-in-out;
	}
	.is-connected-loader {
		margin: auto;
		color: #FFF;
		font-size: 7px;
		position: relative;
		text-indent: -9999em;
		transform: translateZ(0);
		animation-delay: -0.16s;
	}
	.is-connected-loader:before,
	.is-connected-loader:after {
		content: '';
		position: absolute;
		top: 0;
	}
	.is-connected-loader:before {
		left: -3.5em;
		animation-delay: -0.32s;
	}
	.is-connected-loader:after {
		left: 3.5em;
	}
}

.loader-image {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	display: inline-block;
	border-top: 3px solid #FFF;
	border-right: 3px solid transparent;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
	margin-right: 10px;
  }
  
  @keyframes rotation {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  } 