@use "./Variables.scss" as *;

.leaderboard-page-container {
    min-height: 90vh;
    background-color: $LightBluePalette;
    padding-top: 5px;
    h2 {
        margin: 0;
        font-size: 45px;
        text-align: center;
        font-family: Silkscreen;
    }

    table {
        border-collapse: collapse;
        text-align: left;
        margin: 30px auto 0 auto;
        width: 90%;
        background-color: $DarkPalette;

        thead {
            th {
                padding: 25px;
                font-size: 14px;
                font-weight: bold;
            }
        }

        tbody {
            tr {
                &:first-child {
                    td {
                        &:first-child {
                            color: gold;
                        }
                    }
                }
                &:nth-child(2) {
                    td {
                        &:first-child {
                            color: silver;
                        }
                    }
                }
                &:nth-child(3) {
                    td {
                        &:first-child {
                            color: #CD7F32;
                        }
                    }
                }

                &:hover td {
                    background-color: #202d45;
                }

                .leaderboard-status .player-status {
                    @include player-status;
                }

                td {
                    padding: 15px 25px;
                    background: $LightDarkPalette;
                    font-size: 16px;
                    border-bottom: 5px solid $DarkPalette;
                }
            }
        }
    }
}

.pagination {
    &-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        margin: 10px 0;
        min-width: 100px;
        .pagination-item {
            background-color: $LightDarkPalette;
            height: 35px;
            width: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            p {
                font-weight: bold;
                margin: 0;
            }
        }
    }
}

@media screen and (max-width: $BreakPoint_800) {
    .leaderboard-page-container {
        table {
            thead {
                .responsive-column {
                    display: none;
                }
                th {
                    padding: 15px 15px;
                    font-size: 10px;
                }
            }
            tbody {
                tr {
                    .responsive-column {
                        display: none;
                    }

                    td {
                        font-size: 13px;
                        padding: 15px 15px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $BreakPoint_500) {
    .leaderboard-page-container {
        table {
            thead {
                .responsive-column {
                    display: none;
                }
            }
            tbody {
                tr {
                    .responsive-column {
                        display: none;
                    }
                }
            }
        }
    }
}