@use "./Variables.scss" as *;

.loading-spin {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: auto;

    &:after {
        content: " ";
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 8px solid $WhitePalette;
        border-color: $WhitePalette transparent $WhitePalette transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}