@use "./Variables.scss" as *;

$GreyLobby: rgb(163, 158, 158);
$TeamBlueColor: rgb(0, 98, 255);
$TeamRedColor: rgb(215, 38, 18);

#root {
    $PaddleHeight: 150px;
    $PlayerBackAdvance: 10px;
    $PlayerFrontAdvance: 40px;
}

.lobby-container {
    background-color: $LightDarkPalette;
    @include page-wrapper();

    .lobby-wrapper {
        height: 100%;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .lobby-player-list {
            @include flex-row-alignCenter();
            justify-content: center;
            gap: 10px;
            list-style-type: none;
            margin: 0;
            padding: 0;
            .empty-item {
                justify-content: center;

                svg {
                    @include width-height(30px, 30px);
                    cursor: pointer;
                }
            }

            li {
                @include width-height(200px, 200px);
                padding: 30px 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #131d30;
                border-radius: 15px;
                position: relative;

                .teams-wrapper {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    @include flex-row-alignCenter();
                    gap: 5px;

                    .team1 {
                        background-color: $TeamBlueColor;
                    }

                    .team2 {
                        background-color: $TeamRedColor;
                    }

                    .team-active {
                        border: 1.5px solid white
                    }

                    .circle-item {
                        @include width-height(17px, 17px);
                        border-radius: 50%;
                        cursor: pointer
                    }
                }
    
                .player-avatar {
                    @include avatar-player(80px);
                }
    
                p {
                    margin: 10px 0 0 0;
                    font-size: 15px;
                    font-weight: bold;
                }
                
                .team-select {
                    cursor: pointer;
                    padding: 5px;
                    background-color: #1B263B;
                    border-radius: 5px;
                    border: none;
                    color: white;
                    margin: 5px 0;
                    font-size: 11px;
                }

    
                span {
                    @include flex-row-alignCenter();
                    gap: 5px;
                    font-size: 12px;
                    color: $GreyLobby;
                    svg {
                        @include width-height(12px, 12px);
                        border: 1px solid $GreyLobby;
                        border-radius: 50%;
                    }
                }
            }
        }

        .lobby-settings {
            @include flex-row-alignCenter();
            gap: 20px;
            .setting-wrapper {
                background-color: $DarkPalette;
                border-radius: 10px;
            }

            .game-settings {
                @include width-height(350px, 350px);
                padding: 10px;
    
                p {
                    text-align: center;
                    margin: 10px 0;
                }
    
                form {
                    height: 85%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 10px;
                    label {
                        @include flex-row-alignCenter();
                        justify-content: space-between;
                    }

                    .setting-submit {
                        all: unset;
                        cursor: pointer;
                        margin: 0 auto;
                        border: 1px solid white;
                        padding: 8px;
                        border-radius: 7px;
                    }
                }
            }

            .board-game-wrapper {
                @include width-height(500px, 350px);
                padding: 0 var(--PlayerBackAdvance);

                .game-board {
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    overflow: hidden;
                    position: relative;

                    .paddle-wrapper {
                        @include flex-row-alignCenter();
                        gap: var(--PlayerFrontAdvance);
                        .paddle-left {
                            background-color: $TeamBlueColor;
                        }
    
                        .paddle-right {
                            background-color: $TeamRedColor;
                        }
    
                        .paddle {
                            height: var(--PaddleHeight);
                            width: 2px;
                        }
                    }

                    .ball {
                        @include width-height(20px, 20px);
                        position: absolute;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        border-radius: 50px;
                        background-color: aqua;
                    }
                }
               
            }
        }

        .lobby-buttons-wrapper {
            @include flex-row-alignCenter();
            gap: 10px;
            justify-content: center;
            position: relative;

            .game-modes-dropdown {
                position: absolute;
                width: 32.5%;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                background-color: $DarkPalette;
                top: -94px;
                right: 0;
                text-align: center;

                ul {
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    .gameMode-lock {
                        cursor: auto;
                        color: grey;
                        position: relative;
                        background-color: rgb(0 0 0 / 24%);
                        
                        .lock-icon {
                            position: absolute;
                            right: 0;
                            left: 0;
                            top: 0;
                            bottom: 0;
                            margin: auto;
                            color: rgba(255, 255, 255, 0.772);
                        }
                    }
                    li {
                        &:first-child {
                            border-top-left-radius: 10px;
                            border-top-right-radius: 10px;
                        }
                        padding: 6px;
                        cursor: pointer;
                        &:hover:not(.gameMode-lock) {
                            background-color: #102031;
                        }
                    }
                }
            }

            .bos {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }

            .game-modes-button {
                @include flex-row-alignCenter();
                justify-content: center;
                .chevron-icon {
                    position: absolute;
                    right: 10px;
                }
            }

            button {
                all: unset;
                // cursor: pointer;
                text-align: center;
                border-radius: 10px;
                background-color: $DarkPalette;
                width: 250px;
                height: 40px;
                position: relative;
            }
        }   
    }    
}