@use "./Variables.scss" as *;

.notif-error-wrapper {
    z-index: 300;
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    margin: auto;
    display: flex;
    border-radius: 5px;
    padding: 5px;
    width: 250px;
    min-height: 50px;
    max-height: 150px;
    overflow: scroll;
    background-color: rgb(208, 22, 22);
    .notif-content-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        @include width-height(100%, 100%);
        svg {
            cursor: pointer;
            position: absolute;
            top: 0px;
            right: 0px;
            @include width-height(20px, 20px);
        }
    }
} 