@use "./Variables.scss" as *;

$FontSizeText: 20px;
$FontSizeTextResponsive: 15px;

.profile-container {
    @include page-wrapper();
    background-color: $LightBluePalette;

    .profile-header {
        background: url('../Images-Icons//Backgrounds/background-42.jpg') no-repeat center fixed;
        background-size: cover;
        height: 250px;
        width: 100%;
        position: relative;

        .stats-infos {
            height: 90%;
            @include flex-row-alignCenter();
            flex-wrap: wrap;
            justify-content: center;
            gap: 4em;
        
            .stat-elem {
                p {
                    margin: 0;
                    text-align: center;
                    font-weight: bold;
        
                    &:first-child {
                        font-size: 30px;
                        color: $OrangeProfile;
                        margin-bottom: 5px;
                        text-transform: uppercase;
                    }
        
                    &:last-child {
                        font-size: 25px;
                    }
                }
            }
        }

        .card-info {
            z-index: 0;
            position: absolute;
            bottom: -60px;
            @include flex-row-alignCenter();
            margin-left: $HeaderMarge;

            .profile-avatar {
                @include avatar-player(160px);
            }

            .player-status {
                @include player-status;
            }

            p {
                font-size: $FontSizeText;
            }

            svg {
                width: 13px;
                height: 13px;
                margin-left: 5px;
                cursor: pointer;
            }

            .friend-icone {
                margin-left: 20px;
                width: 22px;
                height: 22px;

                &-add {
                    color: white;
                }

                &-delete {
                    color: rgb(194, 29, 29);;
                }
            }

            .send-message-icon {
                height: 22px;
                width: 22px;
                margin-left: 10px;
                svg {
                    color: white;
                    height: 22px;
                    width: 22px;
                }
            }

            .fight-button {
                @include flex-row-alignCenter();
                justify-content: center;
                gap: 5px;
                color: $OrangeProfile;
                margin-left: 20px;
                min-width: 90px;
                height: 30px;
                border-radius: 10px;
                background-color: $LightDarkPalette;
                padding: 1em;

                &:hover {
                    background-color: $LightDarkPalette;
                    color: $OrangeProfile;
                    background-color: $OrangeProfile;
                    color: $LightDarkPalette;
                }
            }
        }
    }

    .profile-main {
        z-index: 1;
        position: relative;
        margin-left: $HeaderMarge + 160px;

        &-menu {
            display: flex;
            flex-direction: row;
            gap: 5em;
            justify-content: center;
            width: 100%;

            p {
                font-size: $FontSizeText;
                font-weight: bold;
                text-transform: uppercase;
                cursor: pointer;
                padding: 2px;
                height: 30px;
            }
        
            p[is-target="true"] {
                border-bottom: 2px solid white;
            }
        }

        .history-list {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin: 30px 10px;
        
            .history-item {
                @include flex-row-alignCenter();
                position: relative;
                justify-content: center;
                gap: 10px;
                height: 50px;
                background-color: $LightDarkPalette;
                border-radius: 10px;

                .player-container {
                    @include flex-row-alignCenter();
                    gap: 10px;
                    width: 100px;
                }
        
                .history-score {
                    font-size: 35px;
                    margin: 0 15px;
                    display: flex;
                    align-items: center;

                    .higher-score {
                        color: $OrangeProfile;
                    }

                    span:not(span:nth-child(2)) {
                        font-weight: bolder;
                        width: 40px;
                        text-align: center;
                    }
        
                    span:nth-child(2) {
                        font-size: 18px;
                        margin: 5px 10px 0 10px;
                        font-weight: 500;
                    }
                }

                p:last-child {
                    cursor: pointer;
                }
        
                .avatar-player {  
                    @include avatar-player(40px);
                }
            }
        }

        .achievement-list {
            margin-top: 30px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 1em;

            .achievement-item {
                background-color: $LightDarkPalette;
                @include flex-row-alignCenter();
                width: 300px;
                height: 100px;

                border-radius: 8px;

                svg {
                    width: 40%;
                    height: 100%;
                    color: rgb(211, 210, 210);
                }

                &-content {
                    width: 60%;
                    height: 100%;
                    margin-right: 5px;

                    p {
                        margin: 0;
                    }
                    
                    p:first-child {
                        margin-top: 1em;
                        font-weight: bold;
                        font-size: $FontSizeText;
                        color: $OrangeProfile;
                    }

                    p:last-child {
                        margin-top: 0.5em;
                        font-size: 15px;
                    }
                }
            }
        }

        .friends-list {
            margin-top: 30px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 1em;

            .friend-item {
                background-color: $LightDarkPalette;
                @include flex-row-alignCenter();
                justify-content: space-between;
                width: 240px;
                height: 70px;
                border-radius: 8px;

                .friend-content {
                    @include flex-row-alignCenter();
                    gap: 5px;
                    margin-left: 10px;

                    .friend-avatar {   
                        @include avatar-player(40px);
                    }

                    p {
                        cursor: pointer;
                    }
                }

                svg {
                    cursor: pointer;
                    color: $OrangeProfile;
                }

                &-menu {
                    position: relative;
                }   
            }
        }
    }
}


@media screen and (max-width: 855px) {
    .profile-container {
        .profile-header {
            .stats-infos {
                .stat-elem {
                    p {
                        &:first-child {
                            font-size: 25px;
                        }
                        &:last-child {
                            font-size: 20px;
                        }
                    }
                }
            }
            
            .card-info {
                margin-left: $HeaderResponsive800Marge;
                bottom: -30px;
                .profile-avatar {
                    @include avatar-player(100px);
                }

                p {
                    font-size: $FontSizeTextResponsive;
                }
            }
        }

        .profile-main {
            margin-left: 0;

            &-menu {
                gap: 3em;
                p {
                    font-size: $FontSizeTextResponsive;
                }
            }

            .achievement-list {
                margin-left: $HeaderResponsive800Marge;
                justify-content: center;
                .achievement-item {
                    width: 200px;
                    height: 80px;
                    svg {
                        min-width: 30%;
                        max-width: 30%;
                        height: 100%;
                        color: rgb(211, 210, 210);
                    }

                    &-content {
                        margin-right: 0;
                        margin-left: 3px;
                    }

                    p:first-child {
                        font-size: $FontSizeTextResponsive;
                    }

                    p:last-child {
                        font-size: 11px;
                    }
                }
            }

            .friends-list {
                justify-content: center;

                .friend-item {
                    width: 200px;
                    height: 70px;
                }
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .profile-container {
        .profile-main {
            margin-top: 20px;
        }
    }
}