@use "./Variables.scss" as *;

.profile-container {
    min-height: 90vh;
    background-color: $LightBluePalette;
    font-family: Montserrat;

    .profile-header {
        background: url('../Images-Icons//Backgrounds/background-42.jpg') no-repeat center fixed;
        background-size: cover;
        height: 250px;
        width: 100%;
        position: relative;

        .stats-infos {
            height: 90%;
            // @include flex-row(center, center, wrap);
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            color: $WhitePalette;
            gap: 4em;
        
            .stat-elem {
                p {
                    margin: 0;
                    text-align: center;
                    font-weight: bold;
        
                    &:first-child {
                        font-size: 30px;
                        color: $OrangeProfile;
                        margin-bottom: 5px;
                        text-transform: uppercase;
                    }
        
                    &:last-child {
                        font-size: 25px;

                    }
                }
            }
        }

        .card-info {
            z-index: 0;
            position: absolute;
            bottom: -60px;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: 150px;
            color: $WhitePalette;

            .profile-avatar {
                @include avatar-player(10em);
            }

            .player-status {
                @include player-status;
            }

            p {
                font-size: 20px;
            }

            svg {
                width: 13px;
                height: 13px;
                margin-left: 5px;
                cursor: pointer;
            }

            .friend-icone {
                margin-left: 20px;
                width: 22px;
                height: 22px;

                &-add {
                    color: white;
                }

                &-delete {
                    color: rgb(194, 29, 29);;
                }
            }

            .send-message-icon {
                height: 22px;
                width: 22px;
                margin-left: 10px;
                svg {
                    color: white;
                    height: 22px;
                    width: 22px;
                }
            }

            .fight-button {
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                gap: 5px;
                color: $OrangeProfile;
                margin-left: 20px;
                min-width: 90px;
                height: 30px;
                border-radius: 10px;
                background-color: $LightDarkPalette;
                padding: 1em;
                box-sizing: border-box;

                &:hover {
                    background-color: $LightDarkPalette;
                    color: $OrangeProfile;
                    background-color: $OrangeProfile;
                    color: $LightDarkPalette;
                }
            }
        }
    }

    .profile-main {
        width: 100%;
        z-index: 1;
        position: relative;

        &-menu {
            display: flex;
            flex-direction: row;
            gap: 5em;
            justify-content: center;
            color: $WhitePalette;

            p {
                font-size: 20px;
                font-weight: bold;
                text-transform: uppercase;
                cursor: pointer;
                padding: 2px;
                height: 30px;
            }
        
            p[is-target="true"] {
                border-bottom: 2px solid white;
            }
        }

        .history-list {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin: $ProfileBlockMarge;
            color: $WhitePalette;
        
            .history-item {
                display: flex;
                position: relative;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 10px;
                height: 50px;
                background-color: $LightDarkPalette;
                border-radius: 10px;
        
                .history-score {
                    font-size: 35px;
                    margin: 0 15px;
                    display: flex;
                    align-items: center;
        
                    span:first-child {
                        color: $OrangeProfile;
                        font-weight: bolder;
                    }
        
                    span:nth-child(2) {
                        font-size: 18px;
                        margin: 5px 10px 0 10px;
                        font-weight: 500;
                    }
        
                    span:last-child {
                        font-weight: bolder;
                    }
                }

                p:last-child {
                    cursor: pointer;
                }
        
                .avatar-player {  
                    @include avatar-player(40px);
                }
            }
        }

        .achievement-list{
            margin: $ProfileBlockMarge;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 1em;

            .achievement-item {
                background-color: $LightDarkPalette;
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 300px;
                height: 100px;
                color: $WhitePalette;
                border-radius: 8px;

                svg {
                    width: 40%;
                    height: 100%;
                    color: rgb(211, 210, 210);
                }

                &-content {
                    width: 60%;
                    height: 100%;
                    margin-right: 5px;

                    p {
                        margin: 0;
                    }
                    
                    p:first-child {
                        margin-top: 1em;
                        font-weight: bold;
                        font-size: 20px;
                        color: $OrangeProfile;
                    }

                    p:last-child {
                        margin-top: 0.5em;
                        font-size: 15px;
                    }
                }
            }
        }

        .friends-list {
            margin: $ProfileBlockMarge;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 1em;

            .friend-item {
                background-color: $LightDarkPalette;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 240px;
                height: 70px;
                color: $WhitePalette;
                border-radius: 8px;

                .friend-content {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 5px;
                    margin-left: 10px;

                    .friend-avatar {   
                        @include avatar-player(40px);
                    }

                    p {
                        cursor: pointer;
                    }
                }

                svg {
                    cursor: pointer;
                    color: $OrangeProfile;
                }

                &-menu {
                    position: relative;
                    .friend-list-modal {
                        background-color: white;
                        position: absolute;
                        right: 20px;
                        top: 20px;
                        width: 100px;
                        border-radius: 5px;
                        padding: 5px 0 0 5px;
                        box-sizing: border-box;
                        background-color: $DarkPalette;

                        p {
                            margin: 0;
                            font-size: 12px;
                            cursor: pointer;

                            &:not(:first-child) {
                                margin-top: 2px;
                            }

                            &:first-child {
                                color: red;
                            }

                            &:last-child {
                                margin-bottom: 2px;
                            }
                        }
                    }
                }   
            }
        }
    }
}