@use "./Variables.scss" as *;

.search-player-container {
    width: 100%;
    .modal-search {
        @include width-height(90%, 50px);
        @include flex-row-alignCenter();
        border-bottom: 1px solid $WhitePalette;
        margin: 0 auto;
        svg {
            @include width-height(25px, 25px);
            margin: 0 0 0 10px;
            cursor: pointer;
        }

        input {
            all: unset;
            width: 100%;
            padding: 8px 20px;
            margin: 0px auto;
            cursor: pointer;
        }
    }

    .modal-player-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 15px;
        overflow-y: scroll;
        &-item {
            width: 90%;
            @include flex-row-alignCenter();
            justify-content: space-between;
            margin: 0 auto;
            .item-player-info {
                display: inline-flex;
                .modal-picture {
                    @include avatar-player(50px);
                    margin-right: 10px;
                }
            }
            button {
                cursor: pointer;
                border: none;
                min-width: 90px;
                height: 35px;
                font-size: 15px;
                border-radius: 4px;
                background-color: $LightDarkPalette;
            }

            input {
                @include width-height(17px, 17px);
            }
        }
    }  
}

@media screen and (max-width: $BreakPoint_800) {
    .search-player-container {
        .modal-search {
            svg {
                @include width-height(20px, 20px);
            }

            input {
                font-size: 15px;
            }
        }

        .modal-player-list {
            &-item {
                font-size: 14px;
                .item-player-info {
                    .modal-picture {
                        @include avatar-player(40px);
                    }
                }
            }
        }
    }
}