@use "./Variables.scss" as *;

.search-player-container {
    width: 100%;
    font-family: Montserrat;

    .modal-search {
        width: 90%;
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid $WhitePalette;
        align-items: center;
        height: 50px;
        margin: 0 auto;
        svg {
            width: 25px;
            height: 25px;
            color: $WhitePalette;
            margin: 0 0 0 10px;
            cursor: pointer;
        }

        input {
            all: unset;
            width: 100%;
            box-sizing: border-box;
            padding: 8px 20px;
            margin: 0px auto;
            cursor: pointer;
            color: $WhitePalette;
        }
    }

    .modal-player-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 15px;
        overflow-y: scroll;
        &-item {
            width: 90%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            color: $WhitePalette;
            margin: 0 auto;
            .item-player-info {
                display: inline-flex;
                .modal-picture {
                    @include avatar-player(50px);
                    margin-right: 10px;
                }
            }
            button {
                cursor: pointer;
                border: none;
                min-width: 90px;
                height: 35px;
                font-size: 15px;
                border-radius: 4px;
                background-color: $LightDarkPalette;
                color: $WhitePalette;
            }

            input {
                width: 17px;
                height: 17px;
            }
        }
    }  
}

@media screen and (max-width: $BreakPoint_800) {
    .search-player-container {
        .modal-search {
            svg {
                width: 20px;
                height: 20px;
            }

            input {
                font-size: 15px;
            }
        }

        .modal-player-list {
            &-item {
                font-size: 14px;
                .item-player-info {
                    .modal-picture {
                        @include avatar-player(40px);
                    }
                }
            }
        }
    }

}