@use "./Variables.scss" as *;

.sign-container {
    min-width: 100%;
    @include page-wrapper();
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding-top: 10em;
    text-align: center;
    background: url('../Images-Icons//Backgrounds/background-42.jpg') no-repeat center fixed;
    background-size: cover;

    a {
        all: unset;
        cursor: pointer;
        width: 10em;
        height: 3em;
        background-color: $LightBluePalette;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: #6a83a3;
        }
    }   
}