$DarkPalette: #0D1B2A;
$LightDarkPalette: #1B263B;
$BlueDarkPalette: #415A77;
$LightBluePalette: #778DA9;
$WhitePalette: #E0E1DD;

$OrangeProfile: orange;

$HeaderMarge: 80px;
$HeaderResponsiveMarge: 10px;

$ProfileBlockMarge: 30px $HeaderMarge;




@mixin player-status {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    margin: 0 10px 0 20px;
    
    &-online {
        background-color: rgb(15, 187, 15);
    }

    &-offline {
        background-color: rgb(194, 29, 29);
    }
}

@mixin avatar-player($size) {
    height: $size;
    width: $size;
    border-radius: 50%;
}

@mixin modal-container($height, $width, $bgColor) {
    z-index: 100;
    height: $height;
    width: $width;
    position: absolute;
    left:0;
    right:0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 10px;
    background-color: $bgColor;

    .modal-exit {
        position: absolute;
        right: 0;
        top: -55px;
        width: 40px;
        height: 40px;
        color: $WhitePalette;
        cursor: pointer;
    }
}

@mixin flex-row-alignCenter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@font-face {
    font-family: Montserrat;
    src: url("../../public/Font/Montserrat/static/Montserrat-Regular.ttf");
}

@font-face {
    font-family: Silkscreen;
    src: url("../../public/Font/Silkscreen/Silkscreen-Regular.ttf");
}